html, body {
    margin: 0;
}
body {
   background-color: rgb(0, 89, 105);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(25, 66, 66);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(5, 108, 108);
    padding: 10px 20px 0px;s
}
.header {
    background-color: rgb (5, 108, 108);
    min-height: 1500spx;
}
.content {
    background-color: rgb(21, 37, 41);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(25, 66, 66);
    min-height: 150px;
}
 37  
template.html
@@ -0,0 +1,37 @@
